html, body {
    height: 100%;
    margin: 0;
}


body {    padding-top: 1rem;

    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    display:block;
}

footer{text-align: center;
}
select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    
  }
button { color: black;}
 

.city{
    color:white;
    background-color: #140923;
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}

 
 
.date{color:red;
font-size: larger;
}

.time{color:blue;
font-size:xx-large;
font-weight: bold;}






#backgroundImg1 {
    height: auto; }

#backgroundImg2 {
    height: auto;
}

#backgroundImg3 {
    height: auto; 
}














